/*
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;

Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343
*/



* {
  box-sizing: border-box;
}

body {
  background-color: #F2F1E8;
}

/*navbar*/

nav {
  background-color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  padding-top: 25px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8);
}

.logo {
  background-image: url('images/optimized/bent-creek-logo.png');
  background-size: cover;
  background-position: center;
  height: 45px;
  width: 40px;
  float: left;
  margin-left: 20px;
  margin-top: -12px;
}

nav a {
  color: #2B2F26;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 300;
}

.first {
  margin-left: 455px;
}

.middle {
  margin: 0 65px;
}

a:hover {
  color: #967343;
}

.active {
  color: #968772;
}

/*main*/
/*top-section*/

#top-section {
  text-align: center;
}

#top-section h1 {
  font-size: 74px;
  margin-top: 140px;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin-bottom: -10px;
}

#top-section h3 {
  font-family: 'Merriweather', serif;
  font-size: 43px;
  font-weight: 200;
  margin-bottom: 80px;
}

/*images section*/

#images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.product-1 {
  background-image: url('./images/optimized/product-1.jpg');
  height: 405px;
  width: 59%;
  background-size: cover;
  background-position: top;
  margin-bottom: 15px;
}

.product-2 {
  background-image: url('./images/optimized/product-2.jpg');
  height: 405px;
  width: 19%;
  background-size: cover;
  margin-bottom: 15px;
}

.product-3 {
  background-image: url('./images/optimized/product-3.jpg');
  height: 405px;
  width: 19%;
  background-size: cover;
  margin-bottom: 15px;
}

.product-4 {
  background-image: url('./images/optimized/product-4.jpg');
  height: 267px;
  width: 19%;
  background-size: cover;
  background-position: left;
  margin-bottom: 15px;
}

.product-5 {
  background-image: url('./images/optimized/product-5.jpg');
  height: 267px;
  width: 19%;
  background-size: cover;
  background-position: left;
  margin-bottom: 15px;
}

.product-6 {
  background-image: url('./images/optimized/product-6.jpg');
  height: 267px;
  width: 39%;
  background-size: cover;
  background-position: top;
  margin-bottom: 15px;
}

.product-7 {
  background-image: url('./images/optimized/product-7.jpg');
  height: 267px;
  width: 19%;
  background-size: cover;
  background-position: left;
  margin-bottom: 15px;
}

#images span {
  background-color: rgb(43, 47, 39);
  color: rgb(196, 200, 187);
  padding: 17px 15px;
  font-size: 27px;
}

.top-row {
  display: inline-block;
  margin-top: 325px;
}

.bottom-row {
  display: inline-block;
  margin-top: 190px;
}

/*footer*/

footer {
  background-color: rgb(43, 47, 39);
  width: 100%;
  color: rgb(196, 200, 187);
  height: 100px;
  font-size: 27px;
  padding-top: 35px;
  padding-left: 30px;
}

/*about*/
/*top section*/

.about-body {
  font-family: 'Merriweather', serif;
}

.birdhouse {
  background-image: url('./images/optimized/birdhouse.jpg');
  height: 140px;
  width: 180px;
  background-size: cover;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}

.intro {
  padding-left: 208px;
  padding-right: 200px;
  padding-top: 73px;
  font-size: 23.5px;
  line-height: 40px;
  font-weight: 300;
}

.blockquote-wrapper {
  border-left: solid;
  border-color: rgb(152, 135, 115);
}

blockquote {
  font-weight: 100;
  font-style: italic;
  color: rgb(72, 66, 53);
  font-size: 23.5px;
  margin-bottom: 60px;
}

/*history*/

article h2 {
  font-size: 35px;
  padding-left: 208px;
  font-weight: 300;
}

.history p {
  padding-left: 208px;
  padding-right: 220px;
  font-size: 23px;
  line-height: 40px;
  font-weight: 300;
  margin-top: -10px;
  margin-bottom: 50px;
}

/*room-to-grow*/

.room-to-grow {
  background-image: url('./images/optimized/background-3.jpg');
  width: 100%;
  height: 376px;
  background-position: 0% 23%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 150px;
}

.room-to-grow span {
  color: white;
  font-size: 80px;
}

/*facilities*/

.facilities p {
  display: inline-block;
  margin-left: 210px;
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
  width: 59%;
  margin-top: -10px;
}

.article-1 a {
  color: #968772;
}

.article-1 a:hover {
  color: #967343;
}

.background-1 {
  background-image: url('./images/optimized/background-1.jpg');
  height: 130px;
  width: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  margin-top: 115px;
  margin-right: 205px;
}

.aside-1 {
  float: right;
  height: 80px;
  width: 170px;
  margin-right: 195px;
  margin-top: -110px;
}

.aside-1 span {
  font-size: 12.5px;
  line-height: 20px;
}

#facilities {
  margin-top: 50px;
}

/*table*/

.table-title {
  font-size: 35px;
  padding-left: 208px;
  font-weight: 300;
}

table {
  border-collapse: collapse;
  margin-left: 208px;
  margin-bottom: 70px;
}

td {
  border-style: solid;
  border-width: 1px;
  padding: 20px 20px;
  font-size: 24px;
  font-weight: 300;
}

.table-top-row {
  text-align: center;
}

.alt-color {
  background-color: rgb(243, 234, 221);
}

/*newsletter*/

.background-2 {
  background-image: url('./images/optimized/background-2.jpg');
  background-size: cover;
  /*height: 615px;*/
  min-height: 100vh;
  font-family: 'Merriweather', serif;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: rgb(255, 255, 255);
  height: 380px;
  width: 48%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 100;
}

form h4 {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  margin-top: -10px;
}

#nameInput , #emailInput {
  border: none;
  border-bottom: solid;
  border-color: #968772;
  border-width: 2px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
  color: rgb(117, 117, 117);
  font-size: 22px;
}

#signupButton {
  display: inline-block;
  height: 55px;
  width: 128px;
  margin: 0 auto;
  font-size: 22px;
  background-color: #968772;
  color: #F2F1E8;
  border: none;
  margin-top: 15px;
}

#signupButton:hover {
  background-color: #967343;
  color: #FFFFFF;
}
